<main class="flex flex-col -mx-3">

  <!--Forms-->
  <p-toast></p-toast>
  <!--End Forms-->

  <p-confirmDialog></p-confirmDialog>

  @if(directions$()|async; as directions){
    <app-table
      (pageSelectedOutput)="onPaginationChanged($event)"
      (searchValueOutput)="onSearchChanged($event)"
      (perPageOutput)="onChangeEntryPerPage($event)"
      (sortValueOutput)="onSortChanged($event)"
      (reloadTableData)="onReloadTableData($event)"
      [perPage]="perPage"
      [pageSelected]="pageSelected"
      [searchValue]="searchValue"
      [sortColumnSelected]="sortValue"
      [tableName]="tableName"
      [dynamicComponent]="DirectionFormComponent"
      [myService$]="directions"
      [headers]="headers">

      <tbody tbody>
      @if (directions.data; as directionData){
        @for (directionItem of directionData| filter: searchValue : ['name','type','reference'] ;track directionItem.uuid) {
          <tr>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
              <div class="flex px-2">
                <div class="my-auto">
                  <h6 class="mb-0 text-sm leading-normal">{{ directionItem.geometry.name }}</h6>
                </div>
              </div>
            </td>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
              <p class="mb-0 text-sm font-semibold leading-normal">{{ directionItem.geometry.type }}</p>
            </td>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
              <span class="text-xs font-semibold leading-tight">{{ directionItem.geometry.reference }}</span>
            </td>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                    <span
                      class="text-xs font-semibold leading-tight"> {{ directionItem.geometry._count.coordinates }} </span>
            </td>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
              <select class="text-xs font-semibold leading-tight">
                @if (directionItem.geometry.coordinates.length > 0) {
                  @for (coordinateItem  of directionItem.geometry.coordinates;track coordinateItem) {
                    <option value="{{ coordinateItem.coordinate_uuid }}"> {{ coordinateItem.coordinate_uuid }}
                    </option>
                  }
                } @else {
                  <option value="null">station not found</option>
                }
              </select>
            </td>
            <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
              <div class="flex space-x-1.5 items-center justify-center">
                <a (click)="onShowDialog(directionItem)" class="cursor-pointer text-xs font-semibold leading-tight text-slate-400"> <i class="pi pi-file-edit"></i> </a>
                <a (click)="onConfirmDelete(directionItem.uuid)" class=" cursor-pointer text-xs font-semibold leading-tight text-slate-400"> <i class="pi pi-trash"></i> </a>
                <a  class="cursor-pointer text-xs font-semibold leading-tight text-slate-400">
                  <i class="pi pi-eye"></i>
                </a>
              </div>
            </td>
          </tr>
        }
      }
      </tbody>
    </app-table>
  }
</main>
