<div class="h-20.5">
  <i class="absolute top-0 right-0 hidden p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden"></i>
  <a class="flex  items-center px-8 py-6 m-0 text-sm whitespace-nowrap text-slate-700" [routerLink]="['home']" >
    <img ngSrc="assets/img/tw.png" width="64" height="64" class="inline h-full max-w-full max-h-16 transition-all duration-200 ease-nav-brand " alt="main_logo" />
    <span class="ml-1 font-semibold text-lg transition-all duration-200 ease-nav-brand">Tw-Dash</span>
  </a>
</div>

<hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />

<div class="items-center block w-auto max-h-screen overflow-auto h-sidenav  grow basis-full">
  <ul class="flex flex-col pl-0 mb-0">
    <li class="mt-0.5 w-full">
      <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap rounded-lg bg-white px-4 font-semibold text-slate-700 transition-colors" [routerLink]="['home']">
        <div routerLinkActive="bg-gradient-to-tl from-blue-600 to-cyan-400" class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
          <img ngSrc="assets/img/shapes/home.svg" height="16" width="16" alt="home">
        </div>
        <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">Home</span>
      </a>
    </li>

    <li class="w-full mt-4">
      <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase opacity-60">Persons</h6>
    </li>
    @if (personalList()){
      @for (personItem of personalList(); track personItem){
        <li class="mt-0.5 w-full">
          <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"  routerLink="{{ personItem.route }}">
            <div [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-gradient-to-tl from-blue-600 to-cyan-400" class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
             <img ngSrc="{{personItem.icon}}" width="16" height="16"  alt="{{personItem.name}}"/>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">{{ personItem.name }}</span>
          </a>
        </li>
      }
    }

    <li class="w-full mt-4">
      <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase opacity-60">Options list</h6>
    </li>
    @if (optionsList()){
      @for (optionItem of optionsList(); track optionItem){
        <li class="mt-0.5 w-full">
          <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"  routerLink="{{ optionItem.route }}">
            <div [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-gradient-to-tl from-blue-600 to-cyan-400" class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
              <img ngSrc="{{optionItem.icon}}" width="16" height="16"  alt="{{optionItem.name}}"/>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">{{ optionItem.name }}</span>
          </a>
        </li>
      }
    }


    <li class="w-full mt-4">
      <h6 class="pl-6 ml-2 text-xs font-bold leading-tight uppercase opacity-60">Transports</h6>
    </li>

    @if (transportList()){
      @for (transportItem of transportList(); track transportItem){

        <li class="mt-0.5 w-full">
          <a class="py-2.7 text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors" routerLink="{{ transportItem.route }}">
            <div [routerLinkActiveOptions]="{exact: true}" routerLinkActive="bg-gradient-to-tl from-blue-600 to-cyan-400" class="shadow-soft-2xl mr-2 flex h-8 w-8 items-center justify-center rounded-lg bg-white bg-center stroke-0 text-center xl:p-2.5">
              <img ngSrc="{{transportItem.icon}}" width="16" height="16"  alt="{{transportItem.name}}"/>
            </div>
            <span class="ml-1 duration-300 opacity-100 pointer-events-none ease-soft">{{ transportItem.name }}</span>
          </a>
        </li>
      }
    }

  </ul>
</div>


<div class="mx-4">
  <!-- load phantom colors for card after: -->
  <p class="invisible hidden text-gray-800 text-red-500 text-red-600 after:bg-gradient-to-tl after:from-gray-900 after:to-slate-800 after:from-blue-600 after:to-cyan-400 after:from-red-500 after:to-yellow-400 after:from-green-600 after:to-lime-400 after:from-red-600 after:to-rose-400 after:from-slate-600 after:to-slate-300 text-lime-500 text-cyan-500 text-slate-400 text-fuchsia-500"></p>
  <div class="after:opacity-65 after:bg-gradient-to-tl after:from-slate-600 after:to-slate-300 relative flex min-w-0 flex-col items-center break-words rounded-2xl border-0 border-solid border-blue-900 bg-white bg-clip-border shadow-none after:absolute after:top-0 after:bottom-0 after:left-0 after:z-10 after:block after:h-full after:w-full after:rounded-2xl after:content-['']" sidenav-card>
    <div class="mb-7.5 absolute h-full w-full rounded-2xl bg-cover bg-center" style="background-image: url('./assets/img/curved-images/white-curved.jpeg')"></div>
    <div class="relative z-20 flex-auto w-full p-4 text-left text-white">
      <div class="transition-all duration-200 ease-nav-brand">
        <h6 class="mb-0 text-white">Need help?</h6>
        <p class="mt-0 mb-4 text-xs font-semibold leading-tight">Please check our api docs</p>
        <a href="{{apiDocLink}}" target="_blank" class="inline-block w-full px-8 py-2 mb-0 text-xs font-bold text-center text-black uppercase transition-all ease-in bg-white border-0 border-white rounded-lg shadow-soft-md bg-150 leading-pro hover:shadow-soft-2xl hover:scale-102">API DOCS</a>
      </div>
    </div>
  </div>
  <!-- logout btn  -->
  <!--<a [routerLink]="['/auth','sign-in']" class="inline-block w-full px-6 py-3 my-4 text-xs font-bold text-center text-white uppercase align-middle transition-all ease-in border-0 rounded-lg select-none shadow-soft-md bg-150 bg-x-25 leading-pro bg-gradient-to-tl from-purple-700 to-pink-500 hover:shadow-soft-2xl hover:scale-102" >
    Log-out
  </a>-->
</div>
