<div
  class="container flex-auto p-6 relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="flex justify-between py-6  mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
    <h5>New Geometry</h5>
  </div>
  <form class="" [formGroup]="geometryForm" (ngSubmit)="onSubmit()">
    <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Name</label>
    <div class="mb-4">
      <input formControlName="name" type="text"
             class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
             placeholder="Name" aria-label="Name" aria-describedby="Name"/>
    </div>
    <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Geometry</label>
    <div class="mb-4">
      <select formControlName="type"
              class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow">
        @for (geometryItem of geometryTypes();track geometryItem) {
          <option value="{{ geometryItem }}">{{ geometryItem }}</option>
        }
      </select>
    </div>
    <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Geojson file</label>
    <div class="mb-4">
      <input type="file" accept="application/json" (change)="onFileSelected($event)"
             class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"/>
    </div>
    <div class="text-center">
      <button type="submit"
              class="inline-block w-full px-6 py-3 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in tracking-tight-soft bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85">
        @if (dataExtras.isEdit){
          <span>Update</span>
        } @else {
          <span>Save</span>
        }
      </button>
    </div>
  </form>
</div>
