<main class="flex flex-col -mx-3">

  <!--Forms-->
  <p-toast></p-toast>
  <!--End Forms-->

  <p-confirmDialog></p-confirmDialog>

  @if(stations$() | async; as stations ){
    <app-table
      (pageSelectedOutput)="onPaginationChanged($event)"
      (searchValueOutput)="onSearchChanged($event)"
      (perPageOutput)="onChangeEntryPerPage($event)"
      (sortValueOutput)="onSortChanged($event)"
      (reloadTableData)="onReloadTableData($event)"
      (selectAllData)="onSelectAllData($event)"
      (multipleDeleteData)="onMultipleDeleteData($event)"
      [nbItemToDelete]="removeList().length"
      [perPage]="perPage"
      [pageSelected]="pageSelected"
      [searchValue]="searchValue"
      [sortColumnSelected]="sortValue"
      [tableName]="tableName"
      [dynamicComponent]="StationFormComponent"
      [myService$]="stations"
      [headers]="headers">
      <tbody tbody>
        @if (stations.data; as stationData){
          @for (stationItem of stationData | filter: searchValue : ['name','address'] | sort:sortValue.order:sortValue.field;track stationItem.uuid) {
            <tr>
              <td class=" text-center p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <input type="checkbox" [ngModel]="isCheckOne()" (change)="onCheckOneItem(stationItem,$event)">
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <div class="flex items-center justify-center  px-2">
                  <div class="my-auto">
                    <h6 class="mb-0 text-sm leading-normal">{{ stationItem.name }}</h6>
                  </div>
                </div>
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <p class="flex items-center justify-center mb-0 text-sm font-semibold leading-normal">{{ stationItem.address }}</p>
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <span class="flex items-center justify-center text-xs font-semibold leading-tight">{{ stationItem.latLng }}</span>
              </td>
              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <span class="flex items-center justify-center text-xs font-semibold leading-tight">{{ stationItem._count.geometry }}</span>
              </td>

              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <select class="flex items-center justify-center text-xs font-semibold leading-tight">
                  @if (stationItem.geometry.length > 0) {
                    @for (geometryItem  of stationItem.geometry;track geometryItem) {
                      <option value="{{ geometryItem.geometry_uuid }}">{{ geometryItem.geometry_uuid | truncate:10 }}</option>
                    }
                  } @else {
                    <option value="null">line not found</option>
                  }
                </select>
              </td>

              @if (stationItem.isStop) {
                <td
                  class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                        <span
                          class=" flex items-center justify-center bg-gradient-to-tl from-green-600 to-lime-400 px-2.5 text-xs rounded-1.8 py-1.5 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">STOP</span>
                </td>
              } @else {
                <td
                  class="p-2 text-sm leading-normal text-center align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                        <span
                          class="flex items-center justify-center bg-gradient-to-tl from-slate-600 to-slate-300 px-2.5 text-xs rounded-1.8 py-1.5 inline-block whitespace-nowrap text-center align-baseline font-bold uppercase leading-none text-white">NO STOP</span>
                </td>
              }


              <td class="p-2 align-middle bg-transparent border-b whitespace-nowrap shadow-transparent">
                <div class="flex space-x-1.5 items-center justify-center">
                  <a (click)="onShowDialog(stationItem)" class="cursor-pointer text-xs font-semibold leading-tight text-slate-400"> <i class="pi pi-file-edit"></i> </a>
                  <a (click)="onConfirmDelete(stationItem.uuid)" class=" cursor-pointer text-xs font-semibold leading-tight text-slate-400"> <i class="pi pi-trash"></i> </a>
                  <a  class="cursor-pointer text-xs font-semibold leading-tight text-slate-400">
                    <i class="pi pi-eye"></i>
                  </a>
                </div>
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="8" class="w-full px-6 py-3 text-xs font-semibold leading-normal text-center bg-transparent border-t border-gray-200 shadow-none whitespace-nowrap">
                <div class="w-full flex flex-row justify-center items-center px-2 ">
                  <div class="">Empty data</div>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </app-table>
  }
</main>
