<div
  class="container flex-auto p-6 relative flex flex-col min-w-0 mb-6 break-words bg-white border-0 border-transparent border-solid shadow-soft-xl rounded-2xl bg-clip-border">
  <div class="py-6  mb-0 bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
    <h5>New Station</h5>
  </div>
  <form class="" [formGroup]="stationForm" (ngSubmit)="onSubmit()">
    <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Name</label>
    <div class="mb-4">
      <input formControlName="name" type="text"
             class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
             placeholder="Name" aria-label="Name" aria-describedby="Name"/>
    </div>
    <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Address</label>
    <div class="mb-4">
      <input formControlName="address" type="text"
             class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
             placeholder="Address" aria-label="Address" aria-describedby="Address"/>
    </div>
    <div class="w-full flex space-x-2">
      <div class="w-full flex flex-col">
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Latitude</label>
        <div class="w-full mb-4">
          <input formControlName="latitude" type="text"
                 class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                 placeholder="Latitude" aria-label="Latitude" aria-describedby="Latitude"/>
        </div>
      </div>
      <div class="w-full flex flex-col">
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Longitude</label>
        <div class="w-full mb-4">
          <input formControlName="longitude" type="text"
                 class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow"
                 placeholder="Longitude" aria-label="Longitude" aria-describedby="Longitude"/>
        </div>
      </div>
    </div>
    <div class="min-h-6 mb-0.5 block pl-12">
      <input formControlName="isStop" id="isStop"
             class="mt-0.54 rounded-10 duration-250 ease-soft-in-out after:rounded-circle after:shadow-soft-2xl after:duration-250 checked:after:translate-x-5.25 h-5 relative float-left -ml-12 w-10 cursor-pointer appearance-none border border-solid border-gray-200 bg-slate-800/10 bg-none bg-contain bg-left bg-no-repeat align-top transition-all after:absolute after:top-px after:h-4 after:w-4 after:translate-x-px after:bg-white after:content-[''] checked:border-slate-800/95 checked:bg-slate-800/95 checked:bg-none checked:bg-right"
             type="checkbox"/>
      <label class="mb-2 ml-1 font-normal cursor-pointer select-none text-sm text-slate-700" for="isStop">Is
        Stop</label>
    </div>
    <div class="text-center">
      <button type="submit"
              class="inline-block w-full px-6 py-3 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in tracking-tight-soft bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85">
        @if (dataExtras.isEdit){
          <span>Update</span>
        } @else {
          <span>Save</span>
        }
      </button>
    </div>
  </form>
</div>
